<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Double Deep Racking System</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link th:replace="fragments/fragment-en :: style-css">
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>
<body>
<link th:replace="fragments/fragment-en :: header">

<div class="wrapper">
    <h1>Double Deep Racking System</h1>
    <h1>Kệ trữ hàng dạng ba lết đôi</h1>

    <div class="img-area">
        <div class="single-img"><img src="img/doubledeep/doubledeep.jpg" alt=""></div>
        <div class="single-img"><img src="img/doubledeep/doubledeep1.jpg" alt=""></div>
        <div class="single-img"><img src="img/doubledeep/doubledeep2.jpg" alt=""></div>
        <div class="single-img"><img src="img/doubledeep/doubledeep3.jpg" alt=""></div>
        <div class="single-img"><img src="img/doubledeep/doubledeep4.jpg" alt=""></div>
        <div class="single-img"><img src="img/doubledeep/doubledeep5.jpg" alt=""></div>
        <div class="single-img"><img src="img/doubledeep/doubledeep6.jpg" alt=""></div>
        <div class="single-img"><img src="img/doubledeep/doubledeep7.jpg" alt=""></div>
    </div>
</div>

<link th:replace="fragments/fragment-en :: footer">
</body>
</html>