<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile Shelving System</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link th:replace="fragments/fragment-en :: style-css">
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>
<body>
<link th:replace="fragments/fragment-en :: header">

<div class="wrapper">
    <h1>Mobile Shelving System</h1>
    <h1>Tủ di động</h1>

    <div class="img-area">
        <div class="single-img"><img src="img/mobileshelving/mobileshelving.jpg" alt=""></div>
        <div class="single-img"><img src="img/mobileshelving/mobileshelving1.jpg" alt=""></div>
        <div class="single-img"><img src="img/mobileshelving/mobileshelving2.jpg" alt=""></div>
        <div class="single-img"><img src="img/mobileshelving/mobileshelving3.jpg" alt=""></div>
        <div class="single-img"><img src="img/mobileshelving/mobileshelving4.jpg" alt=""></div>
        <div class="single-img"><img src="img/mobileshelving/mobileshelving5.jpg" alt=""></div>
        <div class="single-img"><img src="img/mobileshelving/mobileshelving6.jpg" alt=""></div>
        <div class="single-img"><img src="img/mobileshelving/mobileshelving7.jpg" alt=""></div>
    </div>
</div>

<link th:replace="fragments/fragment-en :: footer">
</body>
</html>