<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/website.css" th:fragment="style-css">
</head>
<body>
<div th:fragment="header">
    <header>
    <div id="name">
        <a href="/"><img src="img/logo.png" alt="logo" id="logo"></a>
        <h2><a href="/">J&F Industries International Co., Ltd</a></h2>
    </div>
    <div class='nav' id="lang">
        <li><a href="/"><img src="img/english.png" alt="en-flag" class="lang-logo" id="en-logo">English</a></li>
        <li><a href="home-vn"><img src="img/vietnamese.png" alt="vn-flag" class="lang-logo" id="vn-logo">Vietnamese</a></li>
        <li><a href="home-zh"><img src="img/taiwanese.png" alt="tw-flag" class="lang-logo" id="tw-logo">Traditional Chinese</a></li>
    </div>
    </header>

<main>
    <div class="nav" id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about-en">About</a></li>
            <li>
                <a href="products-en">Products</a>
                <ul class="dropdown">
                    <li><a href="selective">Selective Racking Systems</a></li>
                    <li><a href="drivein">Drive-in Racking Systems</a></li>
                    <li><a href="narrowaisle">Very Narrow Aisle Racking Systems</a></li>
                    <li><a href="pushback">Push Back Racking Systems</a></li>
                    <li><a href="livestorage">Live Storage Racking Systems</a></li>
                    <li><a href="shuttle">Shuttle Racking Systems</a></li>
                    <li><a href="doubledeep">Double Deep Racking Systems</a></li>
                    <li><a href="asrs">AS/RS Racking Systems</a></li>
                    <li><a href="cantilever">Cantilever Racking Systems</a></li>
                    <li><a href="mobile">Mobile Racking Systems</a></li>
                    <li><a href="mezzanine">Mezzanine</a></li>
                    <li><a href="platform">Platform</a></li>
                    <li><a href="boltless">Boltless Angle Racking Systems</a></li>
                    <li><a href="mobileshelving">Mobile Shelving Systems</a></li>
                </ul>
            </li>
            <li><a href="contact-en">Contact</a></li>
        </ul>
    </div>
</main>
</div>

<div th:fragment="footer">
<footer>
    <div class="footer">
        <h3>Contact</h3>
        <ul>
            Tel: +84-274-3624200<br>
            Fax: +84-274-3624201<br>
            E-mail: <a href="mailto:bd@jfrack.com">bd@jfrack.com</a>
        </ul>
    </div>

    <div class="footer">
        <h3>Address</h3>
        <p>
            C2-18, Da Den Industrial Zone, <br>Phu Tan Ward, Thu Dau Mot City, <br>Binh Duong Province, Viet Nam
        </p>
    </div>

    <div class ="footer" id="company">
        <h3>Company</h3><br>
        <li><a href="about-en">About</a></li><br>
        <li><a href="products-en">Products</a></li><br>
        <li><a href="contact-en">Contact</a></li>
    </div>

</footer>
</div>
</body>
</html>