*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

header{
  display: flex;
  background-color: #03AB46;
  color: white;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%
}

h2{
display: inline-flex;
  margin-right: auto;
}

h3{
  display: inline-flex;
  margin-right: auto;
}

#logo{
  width: 70px;
  padding-right: 10px;
}

.lang-logo{
  width: 20px;
  margin-right: 0px;
  vertical-align: bottom;
}

#name{
    margin-right: auto
}

.nav li{
  display: inline-block;
  padding: 8px;
}

a{
  text-decoration: none;
}

#navbar{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 0;
  background-color: #AC3231;
  font-weight: bolder;
  font-size: 18.75px;
}

a:link, a:visited{
  color: white;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../img/home.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
  }

#about{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

#about-content{
  text-align: center;
  margin: 10px;
  font-size: large;
}

footer{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  background-color: #03AB46;
  color: white;
  flex-shrink: 0;
  flex:1;
  font-size: 12px;
}

.footer h3{
  text-decoration: underline;
}

.footer a{
  text-decoration: underline;
}

iframe{
  display: flex;
  height: 400px;
  width: 100%;
}

#company li{
  display:inline-block;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contForm input{
  border-radius: 8px;
  /*width: 400px;*/
  width: 100%;
  height: 30px;
  border-color: black;
  border-width: medium;
}

#contForm textarea{
  border-radius: 8px;
  border-color: black;
  /*width: 400px;*/
  width: 100%;
  height: 100px;
  border-width: medium;
}

@media only screen and (max-width: 600px) {
  .contact{
    width: 100%;
  }
  .contactDetails{
    padding-left: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px){
  .contact{
    width: 100%;
  }
  .contactDetails{
    padding-left: 15px;
  }

}

::placeholder{
  font-family: Arial;
  padding: 5px;
}

.btn{
  background-color: black;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  color: white;
  border-color: black;
}

.btn:hover, .btn:focus{
  width: 120px;
}

.download_catalogue{
  margin-top: 20px;
  padding: 5px;
  background-color: #AC3231;
  border-radius: 5px;
  height: 60px;
  width: 180px;
  color: white;
  font-size: 18.75px;
  text-align: center;
}

.download_catalogue:hover, .download_catalogue:focus{
  width: 200px;
  font-weight: bold;
}

.quote{
  display: flex;
  flex-direction:column;
  width: auto;
  height: auto;
  align-self: center;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  position: relative;
  padding: 30px;
  margin: 200px;
}

.quote h1, .quote p{
  align-self: center;
}

#seemore{
  width: 180px;
  height: 35px;
  background: black;
  border-radius: 20px;
  border-color: black;
  color: white;
  font-size: 18.75px;
  position: relative;
  align-self: center;
}

#seemore:hover, #seemore:focus, #a1{
  text-decoration: underline;
  font-weight: bolder;
}

.dropdown li{
  display: block;
  text-align: left;
  font-size: 15px;
  padding: 7px;
}

.dropdown{
  position: absolute;
  display: none;
}

ul li:hover ul.dropdown{
  display: block;
  background: #AC3231;
  position: absolute;
  overflow: hidden;
  overflow-y :auto;
  z-index:10;
}

ul.dropdown li:hover{
  background: #03AB46;
}
