<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
  <link th:replace="fragments/fragment :: style-css">
<link rel="stylesheet" th:href="@{/css/website.css}">
</head>

<body>
<link th:replace="fragments/fragment :: header">
  <section id="home">
    <div class="quote">
      <h1>J&F Industries International Co., Ltd</h1><br>
      <p>Our company designs, manufactures and installs all types of racks for warehouses, hypermarkets. <a id="a1">Want to see more of our products?</a></p>
      <br><button type="submit"id="seemore">See More</button>
    </div>
 </section>

<link th:replace="fragments/fragment :: footer">
</body>
</html>
