<!DOCTYPE html>
<html lang="en">
<head>
<title>About</title>
  <meta name="keywords" content="J&F, jfrack, rack, J&F Industries International Co., Ltd, Racking Systems,
  Warehouse Racking Systems" />
  <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
  <link rel="icon" type="image/png" href="/img/logo.png">
  <link th:replace="fragments/fragment-en :: style-css">
  <link rel="stylesheet" th:href="@{/css/website.css}">
</head>

<body>
<link th:replace="fragments/fragment-en :: header">

<section id="about">
  <img src="img/about.jpg">

  <div id="about-content">
    <h4>J&F INDUSTRIES INTERNATIONAL CO., LTD WAS ESTABLISHED IN 2008 <br>
      WE HAVE BEEN AN EXPERT IN THE FIELD OF DESIGN, MANUFACTURE AND INSTALLATION OF RACKING SYSTEMS FOR MANY YEARS.</h4><br>
    <p>
      For customers who have needed to design the most efficient racking system, <br>
      we can provide you with the most completed solutions to increase the efficiency of space use, <br>
      at the same time, reduces capital prices for storage and transportation cost and also <br>
      improve market competitiveness in both home and foreign markets.<br>
    </p>
  </div>

</section>

<link th:replace="fragments/fragment-en :: footer">
</body>
</html>
