<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
  <meta name="keywords" content="J&F, jfrack" />
  <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <link rel="icon" type="image/x-icon" href="/img/logo.png">
  <link th:replace="fragments/fragment-en :: style-css">
<link rel="stylesheet" th:href="@{/css/website.css}">
</head>

<body>
<link th:replace="fragments/fragment-en :: header">
  <section id="home">
    <div class="quote">
      <h1>J&F Industries International Co., Ltd</h1><br>
      <p>Our company designs, manufactures and installs all types of racks for warehouses, hypermarkets. <br>
        <a id="a1">Want to see more of our products?</a></p>
      <br><a href="products-en"><button type="submit"id="seemore">See More</button></a>
    </div>
 </section>

<link th:replace="fragments/fragment-en :: footer">
</body>
</html>
