<!DOCTYPE html>
<html lang="en">
<head>
<title>Products</title>
  <link th:replace="fragments/fragment-en :: style-css">
  <link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>
<link th:replace="fragments/fragment-en :: header">

<section class="products">
  <div>
    <ul class = "items">
      <a href="selective">
        <button id="item_selective">Selective Racking Systems</button>
      </a><br>
      <a href="drivein">
        <button id="item_drivein">Drive-in Racking Systems</button>
      </a><br>
      <a href="narrowaisle"><button id="item_narrowaisle">Very Narrow Aisle Racking Systems</button>
      </a><br>
      <button id="item_pushback">Push Back Racking Systems</button><br>
      <a href="livestorage"><button id="item_livestorage">Live Storage Racking Systems</button>
      </a><br>
      <button id="item_shuttle">Shuttle Racking Systems</button><br>
      <button id="item_doubledeep">Double Deep Racking Systems</button><br>
      <button id="item_asrs">AS/RS Racking Systems</button><br>
      <button id="item_cantilever">Cantilever Racking Systems</button><br>
      <button id="item_mobile">Mobile Racking Systems</button><br>
      <button id="item_mezzanine">Mezzanine</button><br>
      <button id="item_platform">Platform</button><br>
      <button id="item_boltless">Boltless Angle Racking Systems</button><br>
      <button id="item_mobileshelving">Mobile Shelving Systems</button><br>
      </ul>
  </div>
</section>

<link th:replace="fragments/fragment-en :: footer">
</body>
</html>
