<!DOCTYPE html>
<html lang="en">
<head>
<title>Products</title>
  <meta name="keywords" content="J&F, jfrack, rack, products, J&F Industries International Co., Ltd, Racking Systems,
  Warehouse Racking Systems, warehouse rack" />
  <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link th:replace="fragments/fragment-en :: style-css">
  <link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>
<link th:replace="fragments/fragment-en :: header">

<section class="products">
  <div>
    <ul class = "items">
      <a href="selective">
        <button id="item_selective">Selective Racking Systems</button>
      </a><br>
      <a href="drivein">
        <button id="item_drivein">Drive-in Racking Systems</button>
      </a><br>
      <a href="narrowaisle"><button id="item_narrowaisle">Very Narrow Aisle Racking Systems</button>
      </a><br>
      <a href="pushback"><button id="item_pushback">Push Back Racking Systems</button>
      </a><br>
      <a href="livestorage"><button id="item_livestorage">Live Storage Racking Systems</button>
      </a><br>
      <a href="shuttle">
        <button id="item_shuttle">Shuttle Racking Systems</button>
      </a><br>
      <a href="doubledeep">
        <button id="item_doubledeep">Double Deep Racking Systems</button>
      </a><br>
      <a href="asrs">
        <button id="item_asrs">AS/RS Racking Systems</button>
      </a><br>
      <a href="cantilever">
        <button id="item_cantilever">Cantilever Racking Systems</button>
      </a><br>
      <a href="mobile">
        <button id="item_mobile">Mobile Racking Systems</button>
      </a><br>
      <a href="mezzanine">
        <button id="item_mezzanine">Mezzanine</button>
      </a><br>
      <a href="platform">
        <button id="item_platform">Platform</button>
      </a><br>
      <a href="boltless">
        <button id="item_boltless">Boltless Angle Racking Systems</button>
      </a><br>
      <a href="mobileshelving">
        <button id="item_mobileshelving">Mobile Shelving Systems</button>
      </a><br>
      </ul>
  </div>
</section>

<link th:replace="fragments/fragment-en :: footer">
</body>
</html>
