<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kệ trữ hàng dạng đẩy từ phía sau</title>
    <meta name="keywords" content="J&F, Công ty TNHH Quốc tế J&F, kệ trữ hàng, kệ kho, kệ, jfrack, sản phẩm,
đẩy từ phía sau, pushback" />
    <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <link th:replace="fragments/fragment-vn :: style-css">
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>
<body>
<link th:replace="fragments/fragment-vn :: header">

<div class="wrapper">
    <h1>Kệ trữ hàng dạng đẩy từ phía sau</h1>

    <div class="img-area">
        <div class="single-img"><img src="img/pushback/pushback.JPG" alt=""></div>
        <div class="single-img"><img src="img/pushback/pushback1.JPG" alt=""></div>
        <div class="single-img"><img src="img/pushback/pushback2.JPG" alt=""></div>
        <div class="single-img"><img src="img/pushback/pushback3.jpg" alt=""></div>
    </div>
</div>

<link th:replace="fragments/fragment-vn :: footer">
</body>
</html>