<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
<title>關於我們</title>
  <meta name="keywords" content="J&F, Công ty TNHH Quốc tế J&F, kệ trữ hàng, kệ kho, kệ, jfrack" />
  <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link th:replace="fragments/fragment-zh :: style-css">
  <link rel="stylesheet" th:href="@{/css/website.css}">
</head>

<body>
<link th:replace="fragments/fragment-zh :: header">

<section id="about">
  <img src="img/about.jpg">

  <div id="about-content">
    <h4>J&F國際責任有限公司成立於2008年 <br>
      我們是倉儲貨架設計、生產和安裝領域方面多年的專家。</h4><br>
    <p>
      對於需要以最高效、最經濟的方式設計倉儲系統的客戶， <br>
      我們可以為客戶提供最完美的解決方案，在節省空間和時間的同時帶來最好的效率，<br>
      並提供最高的貨物存儲效率，幫助客戶降低倉儲成本和運輸成本。 <br>
      同時，提升國內外市場的競爭力。<br>
    </p>
  </div>

</section>

<link th:replace="fragments/fragment-zh :: footer">
</body>
</html>
