<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
<title>首頁</title>
  <meta name="keywords" content="J&F, 倉儲架, 貨架, 料架, jfrack, 首頁,J&F國際責任有限公司,能律 " />
  <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link th:replace="fragments/fragment-zh :: style-css">
<link rel="stylesheet" th:href="@{/css/website.css}">
</head>

<body>
<link th:replace="fragments/fragment-zh :: header">
  <section id="home">
    <div class="quote">
      <h1>J&F國際責任有限公司</h1><br>
      <p>我公司為倉庫、大型超市設計、製造和安裝各種類型的貨架。<br>
        <a id="a1">想查看更多我們的產品嗎？</a></p>
      <br><a href="products-zh"><button type="submit"id="seemore">更多</button></a>
    </div>
 </section>

<link th:replace="fragments/fragment-zh :: footer">
</body>
</html>
