<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
<title>產品</title>
  <meta name="keywords" content="J&F, Công ty TNHH Quốc tế J&F, kệ trữ hàng, kệ kho, kệ, jfrack, sản phẩm" />
  <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link th:replace="fragments/fragment-zh :: style-css">
  <link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>
<link th:replace="fragments/fragment-zh :: header">

<section class="products">
  <div>
    <ul class = "items">
      <a href="selective-zh">
        <button id="item_selective">可調式貨架</button>
      </a><br>
      <a href="drivein-zh"><button id="item_drivein">駛入式貨架</button>
      </a><br>
      <a href="narrowaisle-zh"><button id="item_narrowaisle">窄巷道料架</button>
      </a><br>
      <a href="pushback-zh">
        <button id="item_pushback">後推式料架</button>
      </a><br>
      <a href="livestorage-zh">
        <button id="item_livestorage">滾輪式貨架</button>
      </a><br>
      <a href="shuttle-zh"><button id="item_shuttle">穿梭式貨架</button>
      </a><br>
      <a href="doubledeep-zh">
        <button id="item_doubledeep">兩板深料架</button>
      </a><br>
      <a href="asrs-zh">
        <button id="item_asrs">自動倉儲貨架</button>
      </a><br>
      <a href="cantilever-zh">
        <button id="item_cantilever">懸臂架</button>
      </a><br>
      <a href="mobile-zh">
        <button id="item_mobile">重型移動架</button>
      </a><br>
      <a href="mezzanine-zh">
        <button id="item_mezzanine">積層架</button>
      </a><br>
      <a href="platform-zh">
        <button id="item_platform">中二樓</button>
      </a><br>
      <a href="boltless-zh">
        <button id="item_boltless">免螺絲角鋼架</button>
      </a><br>
      <a href="mobileshelving-zh">
        <button id="item_mobileshelving">移動櫃</button>
      </a><br>
      </ul>
  </div>
</section>

<link th:replace="fragments/fragment-zh :: footer">
</body>
</html>
