<!DOCTYPE html>
<html lang="vi">
<head>
<title>Giới thiệu</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.png">
  <link th:replace="fragments/fragment-vn :: style-css">
  <link rel="stylesheet" th:href="@{/css/website.css}">
</head>

<body>
<link th:replace="fragments/fragment-vn :: header">

<section id="about">
  <img src="img/about.jpg">

  <div id="about-content">
    <h4>CÔNG TY TNHH QUỐC TẾ J&F ĐƯỢC THÀNH LẬP VÀO NĂM 2008 <br>
      CHÚNG TÔI LÀ CHUYÊN GIA TRONG LĨNH VỰC THIẾT KẾ, SẢN XUẤT, LẮP ĐẶT HỆ THỐNG KỆ TRỮ HÀNG ĐƯỢC RẤT NHIỀU NĂM.</h4><br>
    <p>
      Đối với khách hàng có nhu cầu thiết kế hệ thống kho chứa hàng sao cho hiệu quả, tiết kiệm nhất, <br>
      chúng tôi có thể cung cấp cho quý khách hàng những giải pháp hoàn mỹ nhất, mang lại hiệu quả tốt nhất trong việc tiết kiệm không gian và thời gian, <br>
      cũng như mang lại hiệu suất lưu trữ hàng hóa cao nhất, giúp quý khách hàng giảm được giá vốn cho chi phí lưu trữ và vận chuyển. <br>
      Đồng thời đề cao sức cạnh tranh lớn mạnh nhất trên các thị trường trong và ngoài nước.<br>
    </p>
  </div>

</section>

<link th:replace="fragments/fragment-vn :: footer">
</body>
</html>
