<!DOCTYPE html>
<html lang="vi">
<head>
<title>Trang chủ</title>
  <meta name="keywords" content="J&F, Công ty TNHH Quốc tế J&F, kệ trữ hàng, kệ kho, kệ, jfrack" />
  <meta name="google-site-verification" content="aiIYGhlKi_JA__hyi8PJDbxeVGZ_3epNaTAe8jdTOVo" />
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link th:replace="fragments/fragment-vn :: style-css">
<link rel="stylesheet" th:href="@{/css/website.css}">
</head>

<body>
<link th:replace="fragments/fragment-vn :: header">
  <section id="home">
    <div class="quote">
      <h1>CÔNG TY TNHH QUỐC TẾ J&F</h1><br>
      <p>Công ty chúng tôi chuyên thiết kế, sản xuất, lắp đặt hệ thống kệ trữ hàng trong kho, các cửa hàng lớn, siêu thị. <br>
        <a id="a1">Xem thêm các sản phẩm của chúng tôi?</a></p>
      <br><a href="products-vn"><button type="submit"id="seemore">Xem thêm</button></a>
    </div>
 </section>

<link th:replace="fragments/fragment-vn :: footer">
</body>
</html>
