<!DOCTYPE html>
<html lang="vi">
<head>
<title>Sản phẩm</title>
  <link rel="icon" type="image/x-icon" href="/img/logo.png">
  <link th:replace="fragments/fragment-vn :: style-css">
  <link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>
<link th:replace="fragments/fragment-vn :: header">

<section class="products">
  <div>
    <ul class = "items">
      <a href="selective">
        <button id="item_selective">Kệ trữ hàng dạng điều chỉnh</button>
      </a><br>
      <a href="drivein"><button id="item_drivein">Kệ trữ hàng dạng xuyên suốt</button>
      </a><br>
      <a href="narrowaisle"><button id="item_narrowaisle">Kệ trữ hàng dạng lối đi hẹp</button>
      </a><br>
      <a href="pushback">
        <button id="item_pushback">Kệ trữ hàng dạng đẩy từ phía sau</button>
      </a><br>
      <a href="livestorage">
        <button id="item_livestorage">Kệ trữ hàng có ba lết dạng trượt</button>
      </a><br>
      <a href="shuttle"><button id="item_shuttle">Kệ trữ hàng dạng shuttle</button>
      </a><br>
      <a href="doubledeep">
        <button id="item_doubledeep">Kệ trữ hàng dạng ba lết đôi</button>
      </a><br>
      <a href="asrs">
        <button id="item_asrs">Kệ trữ hàng dạng lưu trữ và truy hồi tự động</button>
      </a><br>
      <a href="cantilever">
        <button id="item_cantilever">Kệ trữ hàng dạng khuỷu tay</button>
      </a><br>
      <button id="item_mobile">Kệ trữ hàng dạng di động</button><br>
      <button id="item_mezzanine">Kệ trữ hàng dạng nhiều tầng</button><br>
      <button id="item_platform">Kệ sàn</button><br>
      <button id="item_boltless">Kệ trữ hàng dạng không bu lông</button><br>
      <button id="item_mobileshelving">Tủ di động</button><br>
      </ul>
  </div>
</section>

<link th:replace="fragments/fragment-vn :: footer">
</body>
</html>
